<h1>Games new</h1>
<h2><% @letters.each do |letter| %>
    <%= letter %>
  <% end %>
</h2>

<p>What is the longest word you can find?</p>

<form action="/score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="word">
    <input type="hidden" name="array" value="<%= @letters %>">
    <input type="submit" value="play">
</form>

